/*General style and typography*/
*{
    margin: 0;
    padding: 0;
}
html{
    /* 1rem == 10px*/
    font-size: 62.5%;
    font-family: cursive;
}
body{
    font-size: 1.6rem;
    background: darkcyan;
}
h1 {
    text-decoration: underline;
    font-size: 4rem;
    text-align: start;
}
/*layout*/
input, select {
    padding: .5rem 1rem;
    margin: 0 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 1.5rem;
}
button {
    margin: 0 11rem;
    padding: 10px 30px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #f5f0f0;
}
span{
    display: none;
}

input#file {
    border: none;
}
input#lname {
    position: relative;
    left: 3px;
}
input#Tnumber {
    position: relative;
    left: 10px;
}
input#password {
    position: relative;
    left: 15px;
}
input#email {
    position: relative;
    left: 39px;
}
select#country {
    position: relative;
    left: 23px;
    padding: 0.5rem 4.9rem;
}
input#date {
    position: relative;
    left: 50px;
    padding: 0.5rem 2.2rem;
}
input#file {
    border: none;
    margin: 0px;
    position: relative;
    left: 70px;
}
.form-container {
    display: grid;
    grid-auto-columns: 100%;
    margin: 11rem 0;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    width: 450px;
}
.row {
    display: flex;
    margin: 1rem 0.5rem;
    text-align: start;
    width: 100%;
}
.center{
    text-align: center;
}
.group__fname{
    display: none;
}

/* Style of Validate */
p {
    font-size: 1.2rem;
    position: relative;
    color: red;
    display: block;
}
.correct{
    text-shadow: 2px 2px black;
    color: greenyellow;
}
/*Media Query*/
@media (min-width: 500px)
{
    .form-container {
        margin: 11rem auto;
        width: 100%;
        place-items: center;
    }
}
@media (min-width: 1000px)
{
    form {
        display: flex;
        gap: 2rem;
    }
    section {
        width: 100%;
        display: grid;
        align-items: center;
        justify-items: stretch;
        justify-content: space-between;
    }
}